<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>vsc_servlet</display-name>
  <!-- <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list> -->
  
  <context-param>
    <param-name>测试c1</param-name>
    <param-value>456</param-value>
  </context-param>
  <context-param>
    <param-name>测试c2</param-name>
    <param-value>456</param-value>
  </context-param>
  <!-- 配置和映射 -->
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.servlet.web.MainServlet</servlet-class>
    <init-param>
      <param-name>测试1</param-name>
      <param-value>123</param-value>
    </init-param>
    <init-param>
      <param-name>测试2</param-name>
      <param-value>456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>